body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: black; */
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    background-color: #000;
    animation: fadeIn 5s;
}
p {
    width: 400px;
    margin: 0 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
