body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x:hidden;
}

header {
    padding: 1em;
    text-align: left;
    background-color: white;
    border-style: groove;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header > h1,
header > h2 {
    margin: 0;
    align-self: flex-start; /* Align h1 and h2 to the start (top) */
    font-size: 1.5em;
}
header > h1 {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    margin-right: 5px;
}
header > h2 {
    margin: 0;
    color: #000000; /* Adjusted color */
}

header > img {
    max-width: 50px;
    height: auto;
    margin-left: 10px; /* Added margin to the left */
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%; /* Add this line to set the maximum width */
    height: auto;
}

.navigation {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #003566;
    color: white;
    padding: 10px;
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.active::first-line {
    text-decoration: underline #f7e1d7;
}

.show > li {
    display: block;
}

#menu.showMenu::before {
    content: "X";
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    background-color: #003566;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    padding: .5rem .75rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 100;
    cursor:pointer;
}

#menu.showMenu::before {
    content: 'X';
}

#menu .close-menu {
    display: none;
}

#menu .join {
    display: none;
}

#menu.open::before {
    content: "x";
}

#menu.open + .navigation {
    display: flex;
}

.card1,
.card2,
.card3 {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    order: 1; /* Reset the order property */
    margin-right: 0;
    margin-left: 10px;
}

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

  /* Set a specific color for each brand */

  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.hero-image {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
}

/* Style the image inside the hero container */
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
}


@media screen and (max-width: 504px) {
    .navigation {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: fixed;
        top: 64px;
        left: 0;
        background-color: #003566;
        padding: 10px;
        z-index: 1;
    }

    .navigation.show {
        display: flex;
    }

    #menu {
        display: block;
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
    }

    #menu.showMenu::before {
        content: 'X';
    }

    #menu .close-menu {
        display: none;
    }
    #menu.showMenu {
        display: none;
    }

    #menu .join {
        display: none;
    }

    #menu::before {
        content: '☰'; 
    }

    #menu.open::before {
        content: "x";
    }

    #menu.open + .navigation {
        display: flex;
    }
    .calendar-container {
        max-width: 100%;
        margin: auto; /* Center the calendar */
    }

    .gallery {
        text-align: center; /* Center the text in the gallery */
        padding: 10px;
    }
    
    .image-container {
        margin: 0 auto; /* Center the image container */
    }

    .gallery img {
        display: block;
        margin: 0 auto; /* Center the images */
        width: 100%;
        height: auto;
        border-radius: 8px;
        /* transition: transform 0.3s ease-in-out; */
    }

    .gallery img:hover {
        transform: none;
    }
}

/* The switch - the box around the slider */
.switch {
    position: fixed;
    top: 10px;
    right: 90px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

header.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    /* align-items: left; */
    justify-content: flex-start;
    padding: 1em;
}

header.dark-mode img.logo {
    max-width: 50px;
    height: auto;
    margin-left: 10px;
}

header.dark-mode h1, header.dark-mode h2 {
    margin: 0;
    color: #ffffff;
}

header.dark-mode h1 {
    font-size: 1.5em;
}

header.dark-mode h2 {
    font-size: 1em;
}
.sidebar.dark-mode {
    background-color: black;
    color: white;
}

.social-icons a {
    margin-left: 1em;
    text-decoration: none;
    color: #ffffff;
}

.logo {
    max-width: 50px;
    height: auto;
}

/* DISCOVER PAGE */

.discover-main{
    display: flex;
}
.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
}
.gallery {
    flex: 3;
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
.gallery img:hover {
    transform: scale(1.1);
}

/* CALENDAR */
.calendar-container {
    width: 100%;
    max-width: 100%; /* Adjust the maximum width as needed */
    margin: auto;
}
.calendar {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    /* font-size: 14px; */
}
.calendar-header {
    background-color: #003566;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    background-color: #f2f2f2;
    padding: 5px;
}
.calendar-day {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    cursor: pointer;
}

td:hover {
    background-color: #f0f0f0;
}
.current-date-message-container {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.current-date-message-container p {
    margin: 0;
    font-weight: bold;
}
.attractions ul {
    list-style-type: none;
    padding: 0;
}
.attractions p{
    text-decoration: none;
    text-align: left;
}

/* JOIN */
.join{
    padding: var(--button-padding);
    background-color: #003566;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 5px; 
    margin: 10px;
}
:root {
    --form-padding: 20px;
    --form-margin: auto;
    --button-padding: 10px; /* Adjusted button padding for better visibility */
}
main.join-chamber {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    padding: var(--form-padding);
    margin: var(--form-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}
.legend {
    width: 100%; /* Ensure the legend takes full width of the label container */
    max-width: 100%; /* Allow the legend to take full width */
    padding: 0; /* Reset padding for better control */
    margin-bottom: 10px; /* Add margin between legend and input fields */
    font-weight: bold; /* Optionally, you can set font-weight for emphasis */
}

input {
    margin-top: 5px;
    padding: 10px;
    width: 90%;

}

/* Styling for submit button */
input[type="submit"] {
    padding: var(--button-padding);
    background-color: #003566;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 5px; 
    margin: 10px;
}

input[type="submit"]:hover {
    background-color: #001e3c;
}

/* Membership benefits section */
.membership-benefits {
    max-width: 600px;
    margin: 20px auto;
}
.membership {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px solid #003566;
    padding: 10px;
}

.membership h2 {
    color: #003566;
    grid-column: span 2;
}

.membership-type {
    font-weight: bold;
}

.membership-description {
    text-align: left;
}
.contact {
    text-align: center;
    margin-top: 20px;
}

/* Dark mode styles (if needed) */
body.dark-mode form {
    background-color: #1a1a1a;
    color: white;
}

body.dark-mode label {
    color: white;
}

/* DIRECTORY */

.directory-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.view-toggle {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}
label {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

#members-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

#members-container.list-view {
    grid-template-columns: 1fr;
    
}

.member-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.member-card img {
    max-width: 100%;
    height: auto;
}

.list-view .member-card img {
    display: none;
}

.member-list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #003566;
    padding: 10px;
    margin-bottom: 20px; /* Adjust as needed */
}
