body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x:hidden;
}

header {
    padding: 1em;
    text-align: left;
    background-color: white;
    border-style: groove;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header > h1,
header > h2 {
    margin: 0;
    align-self: flex-start; /* Align h1 and h2 to the start (top) */
}
header > h1 {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    margin-right: 5px;
}
header > h2 {
    margin: 0;
    color: #000000; /* Adjusted color */
}

header > img {
    max-width: 50px;
    height: auto;
    margin-left: 10px; /* Added margin to the left */
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%; /* Add this line to set the maximum width */
    height: auto;
}

.navigation {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #003566;
    color: white;
    padding: 10px;
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.active::first-line {
    text-decoration: underline #f7e1d7;
}

.show > li {
    display: block;
}

#menu.showMenu::before {
    content: "X";
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    background-color: #003566;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    padding: .5rem .75rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 100;
    cursor:pointer;
}

#menu.showMenu::before {
    content: 'X';
}

#menu .close-menu {
    display: none;
}

#menu .join {
    display: none;
}

#menu.open::before {
    content: "x";
}

#menu.open + .navigation {
    display: flex;
}

.card1,
.card2,
.card3 {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    order: 1; /* Reset the order property */
    margin-right: 0;
    margin-left: 10px;
}

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

  /* Set a specific color for each brand */

  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}


@media screen and (max-width: 499px) {
    .navigation {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: fixed;
        top: 64px;
        left: 0;
        background-color: #003566;
        padding: 10px;
        z-index: 1;
    }

    .navigation.show {
        display: flex;
    }

    #menu {
        display: block;
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
    }

    #menu.showMenu::before {
        content: 'X';
    }

    #menu .close-menu {
        display: none;
    }

    #menu .join {
        display: none;
    }

    #menu::before {
        content: '☰';
    }

    #menu.open::before {
        content: "x";
    }

    #menu.open + .navigation {
        display: flex;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch {
    position: fixed;
    top: 10px;
    right: 70px; /* Adjust as needed to not interfere with the hamburger menu */
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

header.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    padding: 1em;
}

header.dark-mode img.logo {
    max-width: 50px;
    height: auto;
    margin-left: 10px;
}

header.dark-mode h1, header.dark-mode h2 {
    margin: 0;
    color: #ffffff;
}

header.dark-mode h1 {
    font-size: 1.5em;
}

header.dark-mode h2 {
    font-size: 1em;
}

.social-icons a {
    margin-left: 1em;
    text-decoration: none;
    color: #ffffff;
}

.logo {
    max-width: 50px;
    height: auto;
}
