@media only screen and (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        text-align: center;
        width: 100%;
    }
    .fa {
        order: 0; /* Reset the order property */
        margin-right: 0; /* Reset the margin-right */
    }
    img {
        max-width: 80%; /* Adjust the percentage as needed */
    }
    header > h1,
    header > h2 {
        margin: 0; /* Reset margin for h1 and h2 */
        align-self: flex-start; /* Align h1 and h2 to the start (top) */
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 1em;
        align-items: center;
        background-color: white;
        color: black;
    }

    .navigation li {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
    }

    header .navigation {
        margin: 10px 0;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        flex-basis: calc(50% - 20px);
        margin: 10px;
    }
    .card1,
    .card2,
    .card3 {
        flex: 100%;
    }
    .switch {
        position: fixed;
        top: 10px;
        right: 10px; /* Adjust as needed */
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .membership-benefits {
        grid-template-columns: repeat(2, 1fr); /* Change to two columns */
    }
}
