@media (min-width: 700px) {
    header {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        text-align: left;
        width: 100%;
    }
    .fa {
        order: 0; /* Reset the order property */
        margin-right: 0; /* Add some space between .fa and dark mode button */
    }
    header > logo {
        max-width: 80%; /* Adjust the percentage as needed */
        order: -1; /* Move the logo to the left */
        margin-right: 10px;
        align-items: flex-start;
    }
    header > h1,
    header > h2 {
        margin: 0; /* Reset margin for h1 and h2 */
        align-self: flex-start; /* Align h1 and h2 to the start (top) */
    }
    #menu {
        display: none;
    }

    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .navigation {
        margin: 10px 0;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        flex-basis: 100%;
        margin: 10px;
    }
    .card1,
    .card2,
    .card3 {
        flex: 100%;
    }
}
