@media (min-width: 700px) {
    header {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        text-align: center;
        width: 100%;
    }
    img {
        max-width: 80%; /* Adjust the percentage as needed */
    }
    h1 {
        display: inline-block;
        width: 100%;
    }
    #menu {
        display: none;
    }

    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 .navigation {
        margin: 10px 0;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        flex-basis: 100%;
        margin: 10px;
    }
    .card1,
    .card2,
    .card3 {
        flex: 100%;
    }
}
