/* LARGE VIEW */

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        order: 1;
    }
    
    .card2 {
        order: 2;
    }
    #menu {
        display: none;
    }
    .hero {
        position:relative;
        margin: 10px auto;
        overflow: hidden;
    }
    
    .hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
}