/* LARGE VIEW */

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        order: 1;
    }
    
    .card2 {
        order: 2;
    }
    #menu {
        display: none;
    }
}