/* MOBILE VIEW */

@media screen and (max-width: 767px) {
    body{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        margin:0;
        font-size: 16px;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        gap: 2%;
        max-width: 1200px;
        margin:auto;
        justify-content: center;
        padding: 20px;
        /* background-color: none; */
    }
    main {
        grid-template-columns: repeat(2, 1fr); /* Two columns for larger views */
    }
    #title{
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid black;
        padding-bottom: 5px; 
    }
    img {
        max-width: 200px;
        height: auto;
        margin-right: 20px;
        /* margin: auto; */
        /* display: inline-block; */
        /* padding-right: 30px; */
    }
    header {
        position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #023047;
        color: white;
        text-align: center;
        /* height: 250px; */
        width: 100%;
    }
    h1{
        margin-right: 20px;
        font-size: 30px;
        margin:auto;
        display:inline-block;
        padding:30px;
        align-items: center;
    }
    header, a{
        font-size: 15px;
        text-decoration: none;
    }
    nav{
        color: white;
        background-color: black;
        padding: 3px;
        text-decoration: none;
        flex-direction: column;
        align-items: center;
    }
    nav a:link,
    nav a:visited {
        color: white;
        line-height: 1.3em;
        letter-spacing: normal;
        margin-top: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        display:block;
        margin: 5px 0;
    }
    h3 {
        background-color: #023047;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }
    
    footer {
        background-color: #023047;
        text-align: center;
        color: white;
        margin:auto;
        padding: 10px;
        width: 100%;
        position: sticky;
        bottom:0;
    }
    .card{
        display:grid;
    
    }
    .card ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-decoration: none;
        color:black;
        text-align: left;
    }
    .card a:link{
        color: black;
    }
    .card2 ul {
        list-style-type: none;
        padding: 15px;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .card,
    .card2 {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

/* LARGE VIEW */


@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        order: 1;
    }
    
    .card2 {
        order: 2;
    }
}
#title {
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px; 
}

img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #023047;
    color: white;
    text-align: center;
    width: 100%;
}

h1 {
    margin-right: 20px;
    font-size: 30px;
    margin: auto;
    display: inline-block;
    padding: 30px;
    align-items: center;
}

header, a {
    display: block;
    font-size: 15px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 1px;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: white;
    line-height: 1.3em;
    letter-spacing: normal;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

h3 {
    background-color: #023047;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #023047;
    text-align: center;
    color: white;
    margin: auto;
    padding: 10px;
    width: 100%;
    position: sticky;
    bottom:0;
}

.card,
.card2 {
    display: grid;
    gap: 2%;
    width: 100%;
}

.card ul,
.card2 ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    margin-bottom: 0px;
    text-align: left;
}