/* MOBILE VIEW */

@media screen and (max-width: 700px) {
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        margin: 0;
        font-size: 16px;
        overflow-x: hidden;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2%;
        max-width: 100%;
        margin: auto;
        justify-content: center;
        padding: 20px;
    }

    #title {
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }

    img {
        height: auto;
        margin-right: 20px;
    }

    header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #023047;
        color: white;
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    h1 {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    nav {
        color: white;
        background-color: black;
        padding: 3px;
        text-decoration: none;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        display: none;
    }

    nav a:link,
    nav a:visited {
        color: white;
        line-height: 1.3em;
        letter-spacing: normal;
        text-decoration: none;
        display: block;
        margin: 5px 0;
    }

    #menu {
        margin-right: 20px;
        order: -1;
        margin-left: auto;
    }

    #menu::before {
        content: '☰';
        font-size: 24px;
    }

    #menu.open::before {
        content: "x";
    }

    #menu.open + .navigation {
        display: flex;
    }

    .navigation {
        display: none;
    }

    .navigation.show-menu {
        display: flex;
    }

    h3 {
        width: 100%; /* Make h3 stretch across the device */
        display: inline-block; /* Ensure h3 is displayed as inline-block */
        background-color: #023047;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box; /* Ensure padding is included in the width */
        margin: 0; 
    }

    footer {
        background-color: #023047;
        text-align: center;
        color: white;
        margin: auto;
        padding: 10px;
        width: 100%;
        position: sticky;
        bottom: 0;
    }

    .card {
        padding: 20px;
        border-radius: 5px;
        height: 300px; /* Set a fixed height for the card */
        overflow-y: auto;
    }
    
    .card ul {
        list-style-type: none;
        padding: 0;
    }
    
    .card ul li {
        margin-bottom: 10px;
    }
    
    .card ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    
    .card ul li a:hover {
        color: #007bff;
    }
    

    .card,
    .card2 {
        width: 100%;
        margin: auto;
        max-width: 100%;
        overflow: scroll;
        word-wrap: break-word;
        overflow-y: auto;
        height: 300px;
    }

    .card ul,
    .card2 ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    .card a:link,
    .card2 a:link {
        display: block;
        color: black;
        margin-bottom: 5px;
    }

    .card2 ul {
        padding: 15px;
        margin-bottom: 20px;
        text-align: center;
    }

    .hero {
        margin: 10px auto;
        position: relative;
        border: 1px solid rgba(0, 0, 0, .1);
        height: 300px;
        width: 100%;
        z-index: 1;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }

    .herolabel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, 40%);
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0, 0, 0, .75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        z-index: 1;
        max-width: 80%;
        text-align: center;
    }
}
